<div id="post-<%= post._id %>">
    <h1>
        <% if((locals.user) && (locals.user.id == post.user.id)) { %>
            <a class="post-dlt-btn" href="/posts/destroy/<%= post.id %> ">X</a>
        <% } %>  
        <%= post.content %>   
    </h1>
    <% if((locals.user)) { %>
        <p><a id="toggle-like" href="/likes/toggle?id=<%= post._id %>&type=Post"><span id="post-like-count"><%= post.likes.length %></span> likes</a><p>
    <% } else { %>
        <p><span id="post-like-count"><%= post.likes.length %> </span> likes</p>
    <% } %>
    <p><%= post.user.name %> </p>
<% if(locals.user){ %> 
    <div class="post-comment">
        <form class="comment-section" action="/comments/create" method="post">
            <input class="comment-input" type="text" name="content" required placeholder="Type Here your comments...">
            <input type="hidden" name="post" value="<%= post._id %>">
            <input type="submit" value="Add Comment">
        </form>
    </div>
<% } %> 
    <div class="post-comment-<%= post._id %>">
        <% for(comment of post.comments){ %>
            <%- include('_comment'); -%> 
        <% } %> 
    </div>
</div>