<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- if style tag encounter then it will attached here  -->
    <%- style -%>
</head>
<body>
    <%- include('_header'); -%> 
    <% if(locals.flash.success && locals.flash.success.length > 0) { %> 
        <h5><%= locals.flash.success %> </h5>    
    <% } %> 
    <main id="main-body">
        <%- body -%> 
    </main>
    <%- include('_footer'); -%>
<!-- if script tag encounter then it will be attached here  -->
    <%- script -%>
</body>
</html>